bin/*obj/*
/WeHome.UnitTest/obj
/WeHome.Data/obj
/WeHome.Entities/obj
/WeHome.Framework/obj
/WeHome.BLL/obj
/WeHome.BLL/bin
/WeHome.Data/bin
/WeHome.Entities/bin
/WeHome.Framework/bin
/WeHome.UnitTest/bin
/WeHome.Web/bin
/WeHome.Web/obj
/packages
