<!DOCTYPE html>

<html data-ng-app="HomeApp">
<head>
    <title data-ng-bind="$state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="亲子网" name="description" />
    <meta content="王怀亮" name="author" />
</head>
<body ng-controller="LoginController">
    <div ui-view class="fade-in-up">
        @RenderBody()
    </div>
    <script src="~/assets/global/plugins/jquery.min.js"></script>
    <script src="~/assets/global/plugins/jquery-migrate.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/global/plugins/jquery.cokie.min.js"></script>
    <script src="~/assets/global/plugins/angularjs/angular.min.js"></script>
    <script src="~/assets/global/plugins/angularjs/angular-touch.min.js"></script>
    <script src="~/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js"></script>
    <script src="~/Scripts/HomeApp.js"></script>
    @RenderSection("PartSection", required: false)
</body>
</html>
