<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <a href="/login?account=liuzhongchen&pass=123456"></a>
    </div>
</body>
</html>
