@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="HomeApp" ng-controller="HomeController" >
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />
    <title>{{models.Title}}</title>
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <base href="/">
    @Styles.Render("~/Assets/CommonStyle")
    <style type="text/css">
        .page-content-wrapper .page-content {
            margin-left: 0;
        }

        .ui-slide-box {
            width: 100%;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
        }

        .ui-slide {
            width: 1180px;
            position: relative;
            margin: 0 auto;
            height: 350px;
        }

        .ui-slide > ul > li {
            width: 1180px;
            height: 350px;
            position: absolute;
        }

        .arrows > a {
            position: absolute;
            width: 1180px;
            height: 350px;
            background: #fff;
            top: 0px;
            z-index: 99;
            opacity: 0.75;
        }

        .arrows > a.prev {
            left: -1180px;
        }

        .arrows > a.next {
            right: -1180px;
        }
    </style>
    <script type="text/javascript">
        var curUser = '@ViewBag.Account';
    </script>

</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-logo hidden-sm hidden-xs">
            <a href="#">
                <img src="~/assets/admin/layout/img/logo.png" alt="logo" class="logo-default" />
            </a>
        </div>
        <a href="javascript:;" class="menu-toggler hidden-sm responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="hor-menu hidden-xs">
            <ul class="nav navbar-nav">
                <li ng-repeat="peep in Menus"
                    ng-class="peep.css" ng-click="menuClick(peep.state)">
                    <a ui-sref="{{peep.state}}" ng-bind-html="toTrustedHTML(peep.title,peep.state)">
                        {{peep.title}}
                    </a>
                </li>
            </ul>
        </div>
        <form class="search-form search-form-expanded" action="extra_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg" />
                        <span class="username username-hide-on-mobile">
                            Nick
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li ng-click="menuClick('space')">
                            <a ui-sref="space">
                                <i class="icon-user"></i> 空间
                            </a>
                        </li>
                        <li>
                            <a href="page_calendar.html">
                                <i class="icon-calendar"></i> 日历
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="login.html">
                                <i class="icon-logout"></i>  退出
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content">
                @*<div class="row" style="margin-top: -30px">
                        <div class="ui-slide-box">
                            <div id="UISlide" class="ui-slide">
                                <ul>
                                    <li><a href="http://mi.ui.cn/" class="adv_img" target="_blank" title="小米主题学院"><img src="http://img.ui.cn//data/upload/201506/1434626238_194.jpeg" alt="小米主题学院"></a></li>
                                    <li><a href="http://activity.ui.cn/duanwu.html" class="adv_img" target="_blank" title="端午节学习活动"><img src="http://img.ui.cn//data/upload/201506/1434080303_363.jpeg" alt="端午节学习活动"></a></li>
                                    <li><a href="http://edu.ui.cn/open4.html" class="adv_img" target="_blank" title="石克坚－UI中国管理学院"><img src="http://img.ui.cn//data/upload/201506/1434705203_700.png" alt="石克坚－UI中国管理学院"></a></li>
                                    <li><a href="http://www.ui.cn/detail/55392.html" class="adv_img" target="_blank" title="移动互联网下的设计"><img src="http://img.ui.cn//data/upload/201506/1434618384_821.png" alt="移动互联网下的设计"></a></li>
                                    <li><a href="http://www.neipin.com/act?mkwd=UIChina" class="adv_img" target="_blank" title="内聘网"><img src="http://img.ui.cn//data/upload/201506/1434593459_401.jpeg" alt="内聘网"></a></li>
                                    <li><a href="http://www.ui.cn/ggv.html" class="adv_img" target="_blank" title="GGV纪源资本招聘专场"><img src="http://img.ui.cn//data/upload/201506/1433498074_760.jpeg" alt="GGV纪源资本招聘专场"></a></li>
                                    <li><a href="http://read.ui.cn/book" class="adv_img" target="_blank" title="http://read.ui.cn/book"><img src="http://img.ui.cn//data/upload/201506/1434424626_526.jpeg" alt="http://read.ui.cn/book"></a></li>
                                    <li><a href="http://www.huodongxing.com/event/3283927491800" class="adv_img" target="_blank" title="贵阳创业沙拉"><img src="http://img.ui.cn//data/upload/201506/1434600960_645.jpeg" alt="贵阳创业沙拉"></a></li>
                                </ul>
                                <div class="arrows">
                                    <a class="prev" href="javascript:;"></a>
                                    <a class="next" href="javascript:;"></a>
                                </div>

                            </div>
                        </div>
                    </div>*@
                <div class="row" ui-view="Main">

                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy;
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    @Scripts.Render("~/assets/scripts")
    @Scripts.Render("~/Assets/AngularJS")
    <script src="~/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/assets/admin/pages/scripts/ui-slide.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
        });
    </script>
</body>
</html>
